
@{
    ViewBag.Title = "Agenda";
}
<link href="~/Content/Fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<section class="main-content">
    <div class="row">
        <div class="col-md-3 no_print">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h4 style="border-bottom: 1px solid #eff2f7">Usuarios</h4>
                </div>
                <div id="containerColaboradores"></div>
            </div>
        </div>
        <div id="containerAgenda" class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="field_agenda" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    @Scripts.Render("~/bundles/agenda")
}