@{
    ViewBag.Title = "Home Page";
}

<div id="login" class="row visible center">
    <div class="col-md-12">
        <h3>Bem vindo ao Gestor de Eventos.</h3>
        <p>Comece criando um novo usuário ou efetuando login.</p>
    </div>
    <div class="col-md-12" style="padding-bottom: 10px">
        <input type="text" class="form-control" id="user_name" maxlength="50" placeholder="E-mail">
    </div>
    <div class="col-md-12" style="padding-bottom: 10px">
        <input type="text" class="form-control" id="user_password" maxlength="50" placeholder="Senha">
    </div>
    <div class="col-md-12">
        <a href="#" id="btnCadastro">É novo? Cadastre-se!</a>
    </div>
    <div class="col-md-12" style="text-align: end">
        <a class="btn btn-primary">Login</a>
    </div>
</div>

<div class="row invisibleNone center" id="cadastro">
    <div class="col-md-12">
        <h3>Cadastrar novo usuário</h3>
        <p>Comece criando um novo usuário ou efetuando login.</p>
    </div>
    <div class="col-md-12" style="padding-bottom: 10px">
        <input type="text" class="form-control" id="user_login" maxlength="50" placeholder="Nome">
    </div>
    <div class="col-md-12" style="padding-bottom: 10px">
        <input type="text" class="form-control" id="user_password" maxlength="50" placeholder="Sobrenome">
    </div>
    <div class="col-md-12" style="padding-bottom: 10px">
        <input type="text" class="form-control" id="user_name" maxlength="50" placeholder="E-mail">
    </div>
    <div class="col-md-12" style="padding-bottom: 10px">
        <input type="text" class="form-control" id="user_lastName" maxlength="50" placeholder="Senha">
    </div>
    <div class="col-md-12" style="text-align: end">
        <a href="#" class="btn btn-danger" id="btnVoltar">Cancelar</a>
        <a class="btn btn-primary">Cadastrar</a>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/home")
}